{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "simple-import-sort",
    "jest"
  ],

  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },

  "env": {
    "jest/globals": true
  },

  "rules": {
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",

    "jest/no-conditional-expect": "off",
    "jest/no-done-callback": "off", // TODO(cemmer)
    "jest/valid-title": "off", // TODO(cemmer)

    "no-param-reassign": ["error", { "props": false }]
  },

  "overrides": [
    {
      "files": ["**/fixtures/**/*.js"],
      "rules": {
        "strict": "off"
      }
    }
  ]
}
