{
  "root": true,

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended" // MUST BE LAST!
  ],
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "jest"
  ],

  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "ignorePatterns": [
    "coverage/**",
    "dist/**",
    "test/fixtures/**"
  ],

  "env": {
    "jest/globals": true
  },

  "rules": {
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",

    "jest/no-conditional-expect": "off",
    "jest/no-done-callback": "off", // TODO(cemmer)
    "jest/valid-title": "off", // TODO(cemmer)

    "no-param-reassign": ["error", { "props": false }]
  },

  "overrides": [
    {
      "files": ["**/fixtures/**/*.js"],
      "rules": {
        "strict": "off"
      }
    }
  ]
}
